



.active{
    background: dodgerblue;
    text-transform: uppercase;
    text-align: center;
    border: 3px dashed; 
    
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 100px;
    color: dodgerblue;

    
    /*animation h1*/
    animation-duration: 3s;
    animation-name: slidein;

}

.parallax h1, .parallax h2, .parallax-books h1, .parallax-books h2{
    color: white;
}

/* animation h1 */

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.prevent-overflow{
    overflow:hidden;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
   

}

h3{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}


p {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin: 40px;
    text-align: left;
}

nav li{
	background-color: whitesmoke;
	padding:10px;
	border:1px solid black;
	display: inline-block;
    text-align: center;
    border-radius: 10px;
}


/*Removes navigation underline*/
nav li a {
    text-decoration:none;
    color: black;
    font-weight: bold;
}

/* Adds wavy underline on hover*/
  nav li a:hover {
    text-decoration:wavy underline;
}


a.skip{
    position: absolute;
    left: -1000px;
    z-index: 1;
}




img{
    margin: auto;
    width: 350px;
    display: block;
    border: 5px solid #ffffff;
    padding: 10px;
    border-radius: 10px;

}


img:hover {
    background: white;
    border: 5px dotted dodgerblue;
  }

img.first:hover {
    background-color: orange;
    border: 10px dotted pink;

}

/* Books Page Flex*/

.container1{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
    padding: 10px;
}

.container2{
    justify-content: center;
    margin: 5px;
    padding: 0.5% 0.5%; 
    background-color: lightblue;
    color: #1f3b2c;
    width: 33%;
    border-radius: 10px;
}
.container2 img{
    width: 50%;
}


/* Homepage Flex*/
.container3{
    justify-content: center;
    padding: 30px;
    margin: 10% 2%;
    background-color: lightblue;
    color: #1f3b2c;
    width: 60%;
    border-radius: 10px;
}

.contact-form{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 30px;
    margin: 10% 2%;
    width: 50%;
}


.light-pink{
    background: whitesmoke;
    border-radius: 10px;
    padding: 5%;
    text-align: left;

}



/* Flip card starts here*/

.wrapper{
    width: 100%;
    max-width: fit-content;
    margin: 20px;
    position: center;
}

.panels{
    list-style-type: none;
}

.mileage{
    color: dodgerblue;

}
.panels li{
    position: relative; 
    width: 25%;
    margin: 0;
    display: block; 
    box-sizing: border-box;
    float: left;
}

.panels li div{
    width: 100%;
    padding: 50% 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height:0;
    cursor: pointer;
}

/* Flip card static ends here*/

/* Flip card flip/animation starts here*/

.panels div.back{
    transform: rotateY(90deg);
    color: black;
    line-height:normal;
    text-transform: none;
    font-size: 20px;
    text-align: left;
    

}

.panels div.back:focus {
    transform: rotateY(90deg);
    color: black;
    line-height:normal;
    text-transform: none;
    font-size: 20px;
    text-align: left;
    
    
}

.panels div.front{
    position: absolute;
}


.panels li:hover div.front, .panels li:focus div.front{
    animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back, .panels li:focus div.back{
    animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl{
    0%{transform: rotateY(0deg)}
    100%{transform: rotateY(90deg)}
}

/* Flip card flip/animation ends here*/

.plant-diet-benefits{
    background-image: url(../images/plant-based-runners-vegetables.jpeg);
    padding: 200px;
    margin: 200px;
    background-position: center;
    width: fit-content;
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px grey;
}



/* Books Page Grid*/

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.parallax{
    background-image: url(../images/header.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-books{
    background-image: url(../images/blue-library.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:repeat-x;
    background-size:contain;
}


input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 skyblue;
}

input[type=text][name=leave_message]{
    height: 200px;
    
}

textarea[name=leave_message]:focus{
    border-color:cyan;
    box-shadow: 0 0 15px 0 #FEFAE0;
}

/* Responsive Phone */

@media (max-width: 767px){

    .container2{
        width: 100%;
        border-radius: 5px;
    }


}

/* Responsive Design Tablet */
@media (min-width: 768px) and (max-width: 1024px){

    .container2{
        width: 50%;
        border-radius: 5px;
    }


}

/* Responsive Design Computer */

@media (min-width: 1025px) {

}

/* Reduced-motion accessibility things */
/* Need to test to see if these work */

@media (prefers-reduced-motion: reduce) {

    .panels li:hover div.front, .panels li:focus div.front{
        animation: none;
    }
    
    .panels li:hover div.back, .panels li:focus div.back{
        animation: none;
    }

    .panels div.back{
        transform: none;
        
    
    }
    /* how do i turn off the slide in?*/
    .panels div.back:focus {
        transform: none;
    }

    h1.bounce {
        animation: none;
    }

    /* Need to test to see if these work */
    .parallax{
        transform: none;
    }
}